<div fxLayout="column" fxLayoutAlign="space-around left" >
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="50">
            <mat-label>Seu nome</mat-label>
                <input matInput [(ngModel)]="dados.post.nome">
        </mat-form-field>

        <mat-form-field fxFlex="40">
            <mat-label>Seu e-mail</mat-label>
                <input matInput [(ngModel)]="dados.post.email">
        </mat-form-field>
    </div>    

    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="50">
            <mat-label>Título da mensagem</mat-label>
                <input matInput [(ngModel)]="dados.post.titulo">
        </mat-form-field>
    
        <mat-form-field fxFlex="40">
            <mat-label>Subtítulo da mensagem</mat-label>
                <input matInput [(ngModel)]="dados.post.subtitulo">
        </mat-form-field>    
    </div>
    
    <mat-form-field>
        <textarea matInput placeholder="Escreva aqui sua mensagem"
                    [(ngModel)]="dados.post.mensagem"></textarea>
    </mat-form-field>  

</div>


<input type="file" style="display: none;" (change)="mudouarquivo($event)" #fileinput>

<button mat-stroked-button color="primary" (click)="fileinput.click()">
    <mat-icon>add_a_photo</mat-icon> Adicionar foto
</button>

<p *ngIf = "nomearquivo!=''">
    <strong>Arquivo: </strong>{{nomearquivo}}
    <mat-icon color="primary">done</mat-icon>
</p>


<div style="text-align: center;">
        <button mat-button color="primary" (click)="salvar()">Salvar</button>
        <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
</div>